<div class="row">
  <div class="col-md-12">
    <table class="table">
          <thead>
            <tr>

              <!--<th><a uib-popover-template="'views/descriptionHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Yhteyden kuvaus</a></th>-->
<th>Yhteyden kuvaus <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Yhteyden suomenkielinen kuvaus. Yhteys on tässä tietyn tyyppinen yhteys tietyn henkilön, ja tietyn paikan välillä. Saman tyyppiset yhteydet on kirjoitettu samalla värillä.">
</span></th>
<th>Henkilö</th>
<th>Paikka</th>
<th>Lähde</th>
<th>Yhteyden tyyppi</th>

<!--
<th>Henkilö <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Yhteyteen liittyvän henkilön nimi, ja linkki hänen biografiaansa.">
</span></th>
<span float: left><th>Paikka <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Yhteyteen liittyvä paikka ja linkki paikan tarkempaan kuvaukseen.">
</span></th></span>
<th>Lähde <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Lähde josta yhteys on automaattisesti poimittu, sekä linkki lähteen web-sivulle, josta voi katsoa lisätietoa.">
</span></th>
<th>Yhteyden tyyppi <span class="glyphicon glyphicon-info-sign"
                uib-tooltip="Yhteyden tyypin kuvaus. Kuvaus on kirjoitettu yhteystyypin värillä.">
</span></th>-->

<!--<th><a uib-popover-template="'views/personHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Henkilö</a></th>
	      <th><a uib-popover-template="'views/placeHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Paikka</a></th>
	      <th><a uib-popover-template="'views/sourceHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Lähde</a></th>
	      <th><a uib-popover-template="'views/typeHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Yhteyden tyyppi</a></th>-->

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="relation in vm.page">
              <td style="width:40%">
		<span ng-if="relation.typeName === 'Kuollut paikassa'">
			<p style=color:red> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Syntynyt paikassa'">
			<p style=color:green> {{ relation.description }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Ura tai opiskelu liittyy paikkaan'">
			<p style=color:black> {{ relation.description }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kunnianosoitus liittyy paikkaan'">
			<p style=color:DarkGoldenRod> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Historiallinen tapahtuma paikassa'">
			<p style=color:DarkSlateGray> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Maalaus kuvaa paikkaa'">
			<p style=color:DeepPink> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Romaani kuvaa paikkaa'">
			<p style=color:BlueViolet> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kirjoitus kuvaa paikkaa'">
			<p style=color:DarkMagenta> {{ relation.description }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kirje vastaanotettu paikasta'">
			<p style=color:LightSlateGray  > {{ relation.description }} </p>
		</span>
		<span ng-if="relation.typeName === 'Kirje lähetetty paikasta'">
			<p style=color:DimGrey > {{ relation.description }} </p>
		</span>
              </td>

	      <td>
                <p> 
                <a ng-href="{{ relation.person.link }}">{{ relation.person.name }}</a> </p>
              </td>
	      <td>
                <p> 
                <a ng-href="{{ relation.place.match }}">{{ relation.place.label }}</a> </p>
              </td>
              <td>
                <p> 
                <a ng-href="{{ relation.link }}">{{ relation.sourceName }}</a> </p>
              </td>

              <td>
		<span ng-if="relation.typeName === 'Kuollut paikassa'">
			<p style=color:red> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Syntynyt paikassa'">
			<p style=color:green> {{ relation.typeLabel }} 
			</p>
		</span>
		<span ng-if="relation.typeName === 'Ura tai opiskelu liittyy paikkaan'">
			<p style=color:black> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kunnianosoitus liittyy paikkaan'">
			<p style=color:DarkGoldenRod> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Historiallinen tapahtuma paikassa'">
			<p style=color:DarkSlateGray> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Maalaus kuvaa paikkaa'">
			<p style=color:DeepPink> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Romaani kuvaa paikkaa'">
			<p style=color:BlueViolet> {{ relation.typeLabel }}
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kirjoitus kuvaa paikkaa'">
			<p style=color:DarkMagenta> {{ relation.typeLabel }}</p>
		</span>
		<span ng-if="relation.typeName === 'Kirje vastaanotettu paikasta'">
			<p style=color:LightSlateGray > {{ relation.typeLabel }}</p>
		</span>
		<span ng-if="relation.typeName === 'Kirje lähetetty paikasta'">
			<p style=color:DimGrey> {{ relation.typeLabel }}</p>
		</span>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="row">
  <div id="pagination-buttons" class="col-sm-7">
    <!-- Pagination -->
    <ul uib-pagination
      class="pagination"
      max-size="5"
      boundary-links="true"
      rotate="false"
      total-items="vm.totalCount"
      ng-model="vm.pageNo"
      ng-disabled="vm.isLoadingResults"
      ng-change="vm.getPage()"
      first-text="<<"
      previous-text="<"
      next-text=">"
      last-text=">>">
    </ul>
  </div>
</div>
