<div class="row">
  <div class="col-md-12">
    <table class="table">
          <thead>
            <tr>
              <th><a uib-popover-template="'views/descriptionHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Yhteyden kuvaus</a></th>
<!--<span class="glyphicon glyphicon-info-sign"
                uib-tooltip="testi">
</span>-->
              <th><a uib-popover-template="'views/personHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Henkilö</a></th>
	      <th><a uib-popover-template="'views/placeHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Paikka</a></th>
	      <th><a uib-popover-template="'views/sourceHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Lähde</a></th>
	      <th><a uib-popover-template="'views/typeHelpTooltipTemplate.html'" popover-trigger="'mouseenter'">Yhteyden tyyppi</a></th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="relation in vm.page">
              <td style="width:40%">
		<span ng-if="relation.typeName === 'Kuollut paikassa'">
			<p>
				<a style=color:red> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Syntynyt paikassa'">
			<p>
				<a style=color:green> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Ura tai opiskelu liittyy paikkaan'">
			<p>
				<a style=color:black> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kunnianosoitus liittyy paikkaan'">
			<p>
				<a style=color:DarkGoldenRod> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Historiallinen tapahtuma paikassa'">
			<p>
				<a style=color:DarkSlateGray> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Maalaus kuvaa paikkaa'">
			<p>
				<a style=color:DeepPink> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Romaani kuvaa paikkaa'">
			<p>
				<a style=color:BlueViolet> {{ relation.description }} </a>
			</p>
		</span>
		<span ng-if="relation.typeName === 'Kirjoitus kuvaa paikkaa'">
			<p>
				<a style=color:DarkMagenta> {{ relation.description }} </a>
			</p>
		</span>
              </td>
	      <td>
                <p> 
                <a ng-href="{{ relation.person.bio }}">{{ relation.person.name }}</a> </p>
              </td>
	      <td>
                <p> 
                <a ng-href="{{ relation.place.match }}">{{ relation.place.label }}</a> </p>
              </td>
              <td>
                <p> 
                <a ng-href="{{ relation.link }}">{{ relation.sourceName }}</a> </p>
              </td>
              <td>
                <p> {{ relation.typeLabel }} </p>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="row">
  <div id="pagination-buttons" class="col-sm-7">
    <!-- Pagination -->
    <ul uib-pagination
      class="pagination"
      max-size="5"
      boundary-links="true"
      rotate="false"
      total-items="vm.totalCount"
      ng-model="vm.pageNo"
      ng-disabled="vm.isLoadingResults"
      ng-change="vm.getPage()"
      first-text="<<"
      previous-text="<"
      next-text=">"
      last-text=">>">
    </ul>
  </div>
</div>
