<div class="container-fluid">

  <div id="title-row" class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Yhteyshaku</h1>
          <p>Hae henkilöiden ja paikkojen välisiä yhteyksiä. </p>
<a data-toggle="modal" data-target="#helpModal" href="#">Ohjeet ja tietoa yhteyshausta</a> 

<p></p>

<!--<a href="/" target="_self">Tyhjennä valinnat</a>-->

</div>
<div id="helpModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h1 class="modal-title">Semanttinen yhteyshaku Suomen kulttuurihistorian henkilöiden ja paikkojen välillä</h1>
			</div>
			<div class="modal-body">

				<p>Yhteyshaussa haetaan yhteyksiä paikkojen ja henkilöiden välillä.  Haettavat henkilöt ovat Semanttisen kansallisbiografian henkilöt ja paikat vastaavat YSO-paikat paikkakäsitteistöä.</p>
 

				<p>Rajaamalla vasemmalla olevista faseteista henkilön, paikan ja yhteyden tyypin ominaisuuksia voit toivottavasti löytää mielenkiintoisia yhteyksiä henkilöiden ja 					paikkojen välillä. Yhteydestä näytetään yhteyden sanallinen kuvaus, sekä linkkejä henkilön elämänkertaan, paikan kuvaukseen ja ja lähteeseen jonka perusteella yhteys on 					luotu. Yhteydet on luotu automaattisesti, joten ne voivat sisältää virheitä. Tarkastelemalla lähteen omaa nettisivua voi arvioida onko yhteys syntynyt automaattisesti 					oikein, sekä mahdollisesti lähteen yleisempää luotettavuutta ja laajempaa kontekstia. Osa yhteyksistä on myös tarkoituksella jätetty pois. Esimerkiksi yhteydet jotka kuvaavat vain Suomea yleisesti on jätetty pois liian epämääräisinä tässä kontekstissa.</p>

				<p>Osa faseteista on hierarkisia, jolloin ylemmän hierarkiatason valinta sisältää alemmat tasot. Eli hierarkisessa fasetissa esimerkiksi Ruotsi sisältää Tukholman ja Uppsalan. Hierarkiset fasetit voivat olla hitaita. Liian monimutkainen kysely voi aiheuttaa error-viestin yksittäiseen fasettiin, jos palvelussa on ruuhkaa, mutta se ei yleensä estää sovelluksen muuta toimintaa.</p>

				<p>Käytettyjä lähteitä ovat Kansallisbiografia (julkaisija SKS), Kansallisgallerian tietokanta, Kirjasampo, HISTO-ontologia, Kansalliskirjaston tietokanta sekä J.V. 					Snellmanin kootut teokset – portaali (julkaisija Edita Publishing Oy).</p>
				</p>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
			</div>
		</div>
</div>
        </div>

    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <div class="panel-body">
		<th><a uib-popover-template="'views/personFacetTooltipTemplate.html'" popover-trigger="'mouseenter'" popover-placement="right">Rajaa henkilön perusteella</a></th>
	</div>
        <!--<seco-slider-facet data-options="vm.facets.date"></seco-slider-facet>-->
        <seco-basic-facet data-options="vm.facets.name"></seco-basic-facet>
	<seco-hierarchy-facet data-options="vm.facets.title"></seco-hierarchy-facet>
        <div class="panel-body">
		<th><a uib-popover-template="'views/placeFacetTooltipTemplate.html'" popover-trigger="'mouseenter'" popover-placement="right">Rajaa paikan perusteella</a></th>
	</div>
	<!--<seco-basic-facet data-options="vm.facets.placeName"></seco-basic-facet>-->
        <seco-hierarchy-facet data-options="vm.facets.placeHierarchy"></seco-hierarchy-facet>
        <div class="panel-body">
		<th><a uib-popover-template="'views/typeFacetTooltipTemplate.html'" popover-trigger="'mouseenter'" popover-placement="right">Rajaa tyypin perusteella</a></th>
	</div>
	<seco-hierarchy-facet data-options="vm.facets.relationTypeHierarchy"></seco-hierarchy-facet>
	<!--<seco-basic-facet data-options="vm.facets.relationType"></seco-basic-facet>-->
      </div>

    <!-- Results column -->
    <div class="col-md-9">

      <div uib-alert class="alert-danger" ng-if="vm.error">
        <p>{{ Error occurred }}:</p>
        <p>{{ vm.error }}</p>
      </div>

      <img src="images/loading-lg.gif" ng-show="vm.isLoadingResults" />

      <div id="result-options-row" class="row">
        <div class="col-md-12">
          <ui-view><ui-view>
        </div>
      </div>


    </div>

  </div>
</div>
