<div>
	<p>'Paikka'-fasetista voit valita henkilön jonka yhteyksiä etsitään. </p>
	<p>Vaihtoehtoja voi selata tai voit kirjoittaa etsimäsi sanan. '+'-ikoni avaa faetin ja '-'-ikoni sulkee sen. Tilasto-ikonista näet yhteyksien suhteellista määrää kuvaavan piirakka kaavion </p>	
	<p>'Paikka hierarkisesti'-fasetilla voit valita paikkoja hierarkisesti. Esimerkiksi valinta 'Uusimaa' sisältää sekä Helsingin, että Espoon yhteydet. Huomaa, että hierarkisten faettien sulkeminen saattaa nopeuttaa kyselyä merkittävästi. </p>
</div>
