<ul class="nav navbar-nav">
	<li> <a href="http://biografiasampo.fi/haku/ruudukko" target="_self"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Henkilöt</a></li>
	<li> <a  href="http://biografiasampo.fi/paikat/" target="_self">
		<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Paikat</a></li>
	<li> <a  href="http://biografiasampo.fi/kartat/tapahtumat" target="_self">
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Elämäkartat</a></li>
	<li> <a  href="http://biografiasampo.fi/tilastot/palkit" target="_self"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Tilastot</a></li>
	<li> <a  href="http://biografiasampo.fi/verkostot" target="_self"></span> Verkostot</a></li>
	<li> <a  href="http://biografiasampo.fi/yhteyshaku/" target="_self"></span> Yhteyshaku</a></li>
	<li> <a  href="http://biografiasampo.fi/kielianalyysi" target="_self"></span> Kielianalyysi</a></li>
</ul>
