.nlp .ExpressionTime {
    background: pink;
}
.nlp .AnonymEntity {
    background: yellowgreen;
}


.nlp .organizationlink {
    background: lightgrey;
}
.nlp .personlink {
    background: burlywood;
}
.nlp .placelink {
    background: aquamarine;
}

.nlp .titlelink {
    background: yellow;
}
.nlp .vocationlink {
    background: yellow;
}
.nlp .PoliticalLocation {
    background: lavender;
}
.nlp .GeographicalLocation {
    background: gold;
}
.nlp .EducationalOrganization {
    background: powderblue;
}


